<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'contacts', :plugin => 'redmine_contacts' %>
<% end %>

<div class="contextual">
  <%= link_to "Contact List", {:controller => 'contacts', :action => 'index'} %>
</div>
<h2>Edit Contact</h2>

<% labelled_tabular_form_for :contact, @contact, :url =>{:action => 'update', :id => params[:id]} do |f|  %>
  <%= render :partial => 'form', :locals => {:f => f, :contact => @contact}  %>
  <%= submit_tag "Save" -%>
<% end -%>
